/* .docblock-code-toggle {
  visibility: hidden;
} */

#button-run-tests {
  visibility: hidden;
}

/* button[aria-label="Shortcuts"] {
  display: none;
} */

/* .search-field {
  display: none;
}

.css-9kwbl {
  display: none;
} */
